body {
  color: rgb(172, 170, 170);
  background-color: rgb(17, 11, 27);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.box1 {
  background-color: rgb(211, 211, 211);
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px solid rgb(0, 0, 0);
  margin: 50px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.column {
  flex: 1;
  padding: 10px;
}
.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.brand {
  display: flex;
  align-items: center;
}
.brand:hover {
  font-weight: bold;
}
li > a {
  padding: 8px 24px;
  border-radius: 5px;
}
li>a:hover{
  background-color: rgb(17, 11, 27);
}
li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}
p{
  text-align: justify;
  text-justify: inter-word;
}
.nav-links {
  display: flex;
  align-items: center;
}
.button-menu-toggle {
  display: none;
}
header{
  margin: auto;
}
#div-imagenes{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
img{
  width: 30%;
  height:fit-content;
  margin: auto;
}
.greeting {
  text-align: center;
  }
  .video{
    text-align: center;
  }
@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

@media (max-width: 767px) {
  nav {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1200px;
  }
}
@media (max-width: 768px) {
  .column {
  flex: 100%;
  }
  .nav-links {
  display: none;
  }
  .button-menu-toggle {
  display: block;
  background-color: white;
  border:none;
  border-radius: 50px;
  padding: 0 24px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  }
  .nav-links.nav-links-responsive {
  position: absolute;
  display: flex;
  background-color: rgba(20,20,20,0.95);
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  gap:70px;
  font-size: 40px;
  }
  }
  